html {
  font-size: 16px;
}

body {
  font-family: Helvetica;
}

strong {
  font-weight: bold;
}

.logo span,
nav{
  font-size: 1.3rem;
}
p {
  color: #707070;
  font-size: 1.2rem;
  line-height: 1.6
}

.row a {
  text-decoration: none;
  color: #1ac6ff;
  font-size: 1.2rem;
}

h2 {
  font-size: 3rem;
  font-weight: bold;
  color: #484848;
}

h3 {
  color: #484848;
  font-size: 1.8rem;
}

#background {
  background-color: #E0E0E0;
}

/* Header */

.desktop {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  z-index: 100;
  background-color: white;
  color: black;
  height: 4rem;
  width: 100%;
  top: 0px;
}

nav ul {
  display: flex;
  align-content: center;
  margin-right: 2rem;
}
nav li {
  display: inline;
  padding-left: 1rem;
}

nav li a {
  color: black;
  text-decoration: none;
  margin-left: 1rem;
}

.logo {
  height: 2rem;
  display: flex;
  align-items: center;
  margin-left: 2rem;
}

.logo img {
  align-items: center;
}

.main-banner {
  display: flex;
  align-items: center;
  margin-top: 4rem;
  background-color: #E0E0E0;
}

.main-banner img {
  width: 60%;
  margin: 2rem 1.5rem;
}

.main-banner .info {
  display: block;
}

.info {
  line-height: 1.2;
}

.info h1 {
  font-size: 4rem;
  font-weight: bold;
  padding-bottom: 2rem;
  color: #484848;
}

.info .button {
  background-color: #484848;
  color: white;
  text-align: center;
  justify-content: center;
  padding-top: .5rem;
  padding-bottom: .5rem;
  margin-top: 2rem;
}

/* Information Section */

.information {
  display: flex;
  align-content: center;
  padding-bottom: 2rem;
}

.information img {
  width: 100%;
}

.large {
    display: block;
    position: relative;
    min-width: 60%;
    max-width: 60%;
    padding: 2rem 1.5rem;
}

.large h2 {
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.large span {
  color: #484848;
  position: absolute;
  bottom: 0;
}


.small {
    display: block;
}

.row img {
  width: 35%;
  max-width: 35%;
  margin: 2rem 2rem 2rem 1rem;
}

.row {
  display: flex;
  align-items: center;
}

.content {
  display: block;
}

.content p {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

/* Learning Section */

.learning {
  background-color: #E0E0E0;
}

.learning h2 {
  text-align: center;
  padding: 2rem 0 1rem 0;
}

.courses {
  display: flex;
  flex-wrap: wrap;
  padding: 0 2.5rem 2rem 4.5rem;
}

.course-types {
  display: flex;
  flex-direction: column;
  width: 30%;
  margin: 16px;
  background-color: white;
}

.course-info {
  padding: 1rem 0 1.5rem 1rem;
}

.course-info p {
  margin-top: .5rem;
}

.course-types img {
  width: 100%;
}

/* Thesis Section */

.thesis h2 {
  padding-top: 2rem;
  text-align: center;
}

video {
  width: 100%;
  padding-bottom: 1.5rem;
}

.thesis p {
  padding: .5rem 0 2rem 0;
}

#second-section {
  padding-top: 2rem;
}

/* Footer */

footer {
  display: flex;
  padding: 1rem 1.5rem;
  color: #484848;
  justify-content: space-between;
  border-top: #E0E0E0 solid 1px;
}

.footer-menu ul {
  display: flex;
  align-content: center;
}

.footer-menu li {
  padding-left: 1rem;
}

.footer-menu a {
  display: flex;
  text-decoration: none;
  color: #484848

}
